[Unit]
Description = Example receiver
Wants = network-online.target
After = local-fs.target network-online.target

[Service]
User = oliver

WorkingDirectory = /home/oliver/workspace/mpc-rbt-student

ExecStart = /home/oliver/workspace/mpc-rbt-student/run_sender.sh

Restart = on-failure
RestartSec = 5
TimeoutStopSec = 5

[Install]
WantedBy = multi-user.target
